.search {
  width: min(100%, 30rem);
  background-color: var(--elements);
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: var(--radius);
  box-shadow: 0 2px 9px rgb(0 0 0 / 0.0532);
}

.search:has(:focus-within) {
  outline: 2px var(--text) solid;
}

.icon {
  height: 1rem;
  width: auto;
}

.input {
  width: 100%;
  padding: 1rem 0;
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
  color: var(--text);
}

.input::placeholder {
  font: inherit;
  color: var(--input);
}

.input::-webkit-search-cancel-button {
  cursor: pointer;
}

@media screen and (min-width: 48rem) {
  .search {
    font-size: var(--font-regular);
  }
}
