.border-country {
  background-color: var(--elements);
  color: var(--text);
  padding: 0.5rem 1rem;
  text-align: center;
  box-shadow: 0 0 4px 1px rgb(0 0 0 / 0.1);
  border-radius: 2px;
}

@media screen and (min-width: 48rem) {
  .border-country {
    font-size: var(--font-regular);
    padding: 0.125rem 0;
  }
}
