.form {
  padding: 1.5rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media screen and (min-width: 49rem) {
  .form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2.5rem;
    gap: 0;
  }
}

@media screen and (min-width: 64rem) {
  .form {
    padding: 3rem 5.25rem;
  }
}
