.main {
  padding: 2.5rem clamp(1.5rem, calc(18vw - 2.5rem), 6rem);
}

.details-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flag {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--radius);
  margin-bottom: 3rem;
}

.name {
  margin-bottom: 1rem;
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: 800;
}

.details {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 1rem;
  font-weight: 300;
  line-height: 2;
}

.detail-field {
  font-weight: 600;
}

@media screen and (min-width: 48rem) {
  .details {
    grid-template-columns: 1fr 1fr;
  }

  .details-block-borders {
    grid-column: span 2;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .details-block,
  .detail-field-borders {
    font-size: var(--font-regular-lg);
    flex-shrink: 0;
  }
}

@media screen and (min-width: 64rem) {
  .details-container {
    flex-direction: row;
    gap: 5rem;
    align-items: center;
  }

  .flag {
    max-width: 35rem;
    flex-shrink: 1;
  }

  .text {
    flex: 1;
  }
}
