.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
  padding: 0 3rem 4rem;
  gap: 2.5rem;
}

@media screen and (min-width: 49rem) {
  .grid {
    padding: 0 5.25rem;
    gap: 4.5rem;
  }
}
