.button {
  display: flex;
  background-color: var(--elements);
  color: var(--text);
  padding: 0.5rem 1.5rem;
  align-items: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 7px 2px rgb(0 0 0 / 0.1);
}

@media screen and (min-width: 48rem) {
  .button {
    padding: 0.75rem 2rem;
    font-size: var(--font-regular-lg);
  }
}
