:root {
  --bg: hsl(0, 0%, 99%);
  --text: hsl(200, 15%, 8%);
  --elements: hsl(0, 100%, 100%);
  --input: hsl(0, 0%, 50%);
  --radius: 5px;
  --font-small: 0.75rem;
  --font-regular: 0.875rem;
  --font-regular-lg: 1rem;
  --font-large: 1.125rem;
}

[data-theme="dark"] {
  --bg: hsl(207, 26%, 17%);
  --text: hsl(0, 100%, 100%);
  --input: hsl(0, 100%, 100%);
  --elements: hsl(208, 23%, 22%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--bg);
  font-size: var(--font-small);
  font-weight: 300;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
