:root {
  --bg: hsl(0, 0%, 99%);
  --text: hsl(200, 15%, 8%);
  --elements: hsl(0, 100%, 100%);
  --input: hsl(0, 0%, 50%);
  --radius: 5px;
  --font-regular: 0.875rem;
  --font-small: 0.75rem;
  --font-large: 1.125rem;
  --font-xl: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(207, 26%, 17%);
    --text: hsl(0, 100%, 100%);
    --input: hsl(0, 100%, 100%);
    --elements: hsl(208, 23%, 22%);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--bg);
  font-size: var(--font-small);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
