.header {
  padding: 1.875rem 1rem;
  background-color: var(--elements);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: var(--text); */
}

.title {
  font-size: 0.875rem;
  font-weight: 800;
}

@media screen and (min-width: 48rem) {
  .header {
    padding: 1.875rem 2.5rem;
  }
}

@media screen and (min-width: 70rem) {
  .header {
    padding: 1.5rem 5rem;
  }

  .title {
    font-size: 1.5rem;
  }
}
