.header {
  padding: 1.875rem 1rem;
  background-color: var(--elements);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.0562);
}

.title {
  font-size: 0.875rem;
  font-weight: 800;
}

.title:hover {
  color: hsl(from var(--text) h s l / 0.75);
}

@media screen and (min-width: 48rem) {
  .header {
    padding: 1.875rem 2.5rem;
  }
}

@media screen and (min-width: 70rem) {
  .header {
    padding: 1.5rem 5rem;
  }

  .title {
    font-size: 1.5rem;
  }
}
