.button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
  color: var(--text);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  height: 0.75rem;
  width: auto;
}

@media screen and (min-width: 70rem) {
  .button {
    font-size: var(--font-regular);
  }

  .icon {
    height: 0.875rem;
  }
}
