.button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
  color: var(--text);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--radius);
}

.button:hover {
  color: hsl(from var(--text) h s l / 0.75);
}

.button:focus {
  outline: 2px var(--text) solid;
  outline-offset: 0.5rem;
}

.icon {
  height: 0.75rem;
  width: auto;
}

@media screen and (min-width: 70rem) {
  .button {
    font-size: var(--font-regular);
  }

  .icon {
    height: 0.875rem;
  }
}
